body { margin:0;
    padding:10px;
    background-image:url ();
    


}

#container{
    height: 600px;



}

img {
width:100%;
height:100%;


}

.cardShell {


}

.cardCore{


}
 

.front, .back {



}

.back{


}