body {
  margin: 100px 50px 10px;
  padding: 0;
  background-image: url("assets/AGXN.gif");
  background-repeat: no-repeat;
  background-size: cover, cover;
}

#container {
  
  height: 600px;
  margin-right: 25px;
  display: row;
  grid-template-rows: auto auto auto auto;
  
 
}

img {
  display:flex;
  flex-wrap:wrap;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.cardShell {
  height: 200px;
  width: 150px;
  background: transparent;
  perspective: 1200px;
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  
}

.cardCore {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.75s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
  border-radius: 10px;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
}
.front{

color:#ab7f2e;
background-color:#093009;
font-family: 'Press Start 2P', cursive;
font-size: 12px;


}
.back {
  transform: rotateY(180deg);
  
  
}

#board {

  position: absolute ;
  bottom:10px;
    height:85px; 
    width:450px;
    border:4px solid gold;
    border-radius: 3px;
    margin:auto;
    text-align:center;
    margin-top:15px;
    font-family:cooper
}
